<div class="container">
  <div class="container d-flex justify-content-between align-items-center mt-5 seller-bar">
    <div>
      <% if @seller.photo.attached? %>
            <%= cl_image_tag @seller.photo.key, class:"avatar" %>
        <% else %>
            <%= image_tag("avatar_default.png", class: "avatar mx-2") %>
      <% end %>
      <%= @seller.first_name %> <%= @seller.last_name %>
    </div>
    <div>
      <% if @seller == current_user %>
          <%= link_to "See my profile", profile_path, class: "btn-main" %>
            <% else %>
          <%= link_to "See profile", user_path(@service.user), class: "btn-main" %>
      <% end %>

    </div>
  </div>
    <div class="container mt-5">
      <h1><%= @service.title %></h1>
    </div>
    <div class="container d-flex mt-5">
      <div class="main-image">
      <% if @service.images.attached? %>
        <%= cl_image_tag @service.images.first.key, class: "service-image main" %>
      </div>
      <div class="container other-images">
        <div class="row">
        <% @service.images.drop(1).each do |image| %>
        <div class="col other-image">
          <%= cl_image_tag image.key, class: "service-image other" %>
        </div>
        <% end %>
      </div>
    </div>
    <% end %>
  </div>

  <div class="container description mt-5">
    <h2>Description</h2>
    <div class="description-bar mt-5">
    <p><%= @service.description %></p>
    </div>
  </div>


<!-- Modal -->
<div class="modal purchase-modal fade" id="PurchaseModal" tabindex="-1" aria-labelledby="PurchaseModal" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="PurchaseModal">You are completing your purchase for:</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <p><%= @service.title %></p>
        <p>Price: <%= @service.price %>€</p>
      </div>
      <div class="modal-footer">
          <%= button_to "Confirm Purchase", service_sales_path(@service), class: "btn-alternative" %>
      </div>
    </div>
  </div>
</div>

<div class="container d-flex justify-content-between align-items-center purchase-bar">
  <div class="price">
    <p>Price: <%= @service.price %>€</p>
  </div>
  <div class="buy-button">
  <% if @seller == current_user %>
    <% elsif user_signed_in? %>
    <button type="button" class="btn-main" data-bs-toggle="modal" data-bs-target="#PurchaseModal">Buy</button>
    <% else %>
      <%= link_to "Login", new_user_session_path, class: "btn-main" %>
    <% end %>
  </div>
</div>
</div>
