<div class="container mt-5">
  <h1><%= @service.title %></h1>
</div>
<div class="container d-flex mt-5">
  <div class="main-image">

  </div>
  <div class="other-images">

  </div>
</div>
<div class="container description">
  <h2><%= @service.description %></h2>
</div>
<div class="container">
  <div class="ratings">

  </div>
  <div class="other-services">

  </div>
</div>


<div class="container d-flex justify-content-between purchase-bar" style="position: sticky; bottom: 0">
  <div class="price">
    <p><%= @service.price %></p>
  </div>
  <div class="buy-button">
    <% if user_signed_in? %>
      <button class="btn btn-primary"><%= link_to "Buy" %></button>
    <% else %>
      <button class="btn btn-primary" style="color: white"><%= link_to "Login", new_user_session_path %></button>
    <% end %>
  </div>
</div>
