<div class="container mt-5 pt-5">
  <h2>Edit certification</h2>
  <%= simple_form_for @user_certification, url: update_certification_path(certification_id: @user_certification.id), method: :patch do |f| %>
    <%= f.input :certification %>
    <%= f.input :company %>
    <%= f.input :year %>
    <%= f.submit %>
  <% end %>
</div>
