<div class="banner profile-banner"></div>
<div class="mx-5 mt-n5">
  <% if @user.photo.attached? %>
    <%= cl_image_tag @user.photo.key, class: "avatar-profile border border-light border-3", alt: "user-avatar" %>
  <% else %>
      <%= image_tag("avatar_default.png", class: "avatar-profile", alt: "user-avatar") %>
  <% end %>
</div>

<div class="container mt-5">
  <ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item" role="presentation">
      <button class="nav-link active btn btn-light" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Profile</button>
    </li>
    <li class="nav-item" role="presentation">
      <button class="nav-link btn btn-light" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Services</button>
    </li>
  </ul>
  <div class="tab-content pt-3" id="myTabContent">
    <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">
      <div class="d-flex justify-content-between">
        <h4>Languages</h4>
      </div>
      <div class="row gx-5 mb-5">
        <% @user_languages.each do |language| %>
          <div class="col-auto">
            <span><%= language.language %></span>
            <span class="fst-italic fw-light text-white">- <%= language.level %></span>
          </div>
        <% end %>
      </div>
      <hr>
      <div class="d-flex justify-content-between mt-4">
        <h4>Skills</h4>
      </div>
      <div class="row gx-5 mb-5">
        <% @user_skills.each do |skill| %>
          <div class="col-auto">
            <span class="mb-0"><%= skill.skill %></span>
            <span class="mb-0 fst-italic fw-light text-white">- <%= skill.level %></span>

          </div>
        <% end %>
      </div>
      <hr>
      <div class="d-flex justify-content-between mt-4">
        <h4>Education</h4>
      </div>
      <div class="row gx-5 mb-5">
        <% @user_educations.each do |education| %>
          <div class="col-auto">
            <span class="mb-0"><%= education.major %></span>
            <span class="mb-0 fst-italic fw-light text-white">- <%= education.college %></span>
            <span class="mb-0 fst-italic fw-light text-white">, <%= education.year %></span>
          </div>
        <% end %>
      </div>
      <hr>
      <div class="d-flex justify-content-between mt-4">
        <h4>Certifications</h4>
      </div>
      <div class="row gx-5 mb-5">
        <% @user_certifications.each do |certification| %>
          <div class="col-auto">
            <span class="mb-0"><%= certification.certification %></span>
            <span class="mb-0 fst-italic fw-light text-white">- <%= certification.company %></span>
            <span class="mb-0 fst-italic fw-light text-white">, <%= certification.year %></span>
          </div>
        <% end %>
      </div>
    </div>
    <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
      <% unless @user_services.nil? %>
        <div class="d-flex justify-content-between">
          <h4>Services</h4>
        </div>
        <div>
          <% @user_services.each do |service| %>
            <div>
              <h4 class="mb-1"><%= service.title %></h4>
              <p class="mb-1 fst-italic fw-light text-white">- <%= service.description %></p>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</div>
