<div class="banner">
  <h1 class="text-center">Unlock Your Project's Potential with Top Freelancers</h1>
  <div class="row justify-content-center">
  <div class="col-sm-8 my-3">
    <%= form_with url: services_path, method: :get, class: "search-bar d-flex" do %>
      <%= text_field_tag :search,
            params[:search],
            class: "form-control search-bar",
            placeholder: "Type a keyword"
        %>
      <%= submit_tag "Search", name: "", class: "btn-search btn-alternative" %>
    <% end %>
  </div>
</div>

<hr>

<div class="container categories d-flex mt-5">
    <div class="category-card">
      <i class="fa-solid fa-file-lines"></i>
      <p>content-writing</p>
    </div>
    <div class="category-card">
      <i class="fa-solid fa-code"></i>
      <p>front-end</p>
    </div>
    <div class="category-card">
      <i class="fa-solid fa-palette"></i>
      <p>web-design</p>
    </div>
    <div class="category-card">
      <i class="fa-solid fa-gear"></i>
      <p>setup</p>
    </div>
    <div class="category-card">
      <i class="fa-solid fa-bug"></i>
      <p>debugging</p>
    </div>
    <div class="category-card">
      <i class="fa-brands fa-youtube"></i>
      <p>video-making</p>
    </div>
</div>

<div class="container mt-5">
  <h2>Here our Services</h2>
  <p>You can consult them in the below list</p>
</div>

<div class="container mt-5">
  <div class="row services">
    <% services = @services.where(category: @services.sample.category) %>
    <h2 class="category-title"><%= @services.sample.category %></h2>
    <% services.each do |service|%>
      <div class="col-md-4 service-card">
        <div>
          <div>
            <%= link_to service.title, service_path(service), class: "service-title" %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <div class="container mt-5">
    <div class="row services">
      <% services = @services.where(category: @services.sample.category) %>
      <h2 class="category-title"><%= @services.sample.category %></h2>
      <% services.each do |service|%>
        <div class="col-md-4 service-card">
          <div>
            <div>
              <%= link_to service.title, service_path(service), class: "service-title" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <div class="row services">
      <% services = @services.where(category: @services.sample.category) %>
      <h2 class="category-title"><%= @services.sample.category %></h2>
      <% services.each do |service|%>
        <div class="col-md-4 service-card">
          <div>
            <div class="card-body">
              <%= link_to service.title, service_path(service), class: "service-title" %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
    <%= link_to "See More..", user_services_path, class: "text-muted see-more-link" %>
  </div>
</div>
